# Test Kickstart for CentOS 7
install
auth --enableshadow --passalgo=sha512
graphical
reboot
firstboot --enable
keyboard --vckeymap=us --xlayouts='us'
lang en_US.UTF-8
selinux --disabled
firewall --disabled
eula --agreed

network --hostname=centos7.myname.com
network --bootproto=static --device=eth0 --gateway=199.38.240.129 --ip=199.38.240.130 --netmask=255.255.255.252 --nameserver=8.8.8.8 --noipv6 --activate
repo --name=base --baseurl=http://mirror.centos.org/centos/7/os/x86_64/
url --url="http://mirror.centos.org/centos/7/os/x86_64/"
rootpw --plaintext s96CM1wiq7zG
services --disabled="chronyd"
timezone America/New_York --isUtc --nontp
zerombr
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
clearpart --initlabel  --all --drives=sda
ignoredisk --only-use=sda
part /boot --fstype=ext4 --size=250
part swap --asprimary --fstype="swap" --size=2048
part pv.01 --size=1 --grow
volgroup vg00 pv.01
logvol / --fstype ext4 --name=root --vgname=vg00 --size=1 --grow

%packages --ignoremissing
@^minimal
@core
%end
