[server]
[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
symbolic-links=0
innodb_file_per_table
collation-server = utf8_unicode_ci
init-connect='SET NAMES utf8'
character-set-server = utf8

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[galera]
wsrep_on=ON
wsrep_provider=/usr/lib64/galera/libgalera_smm.so
wsrep_cluster_name="PDNS"
wsrep_cluster_address="gcomm://192.168.0.3,192.168.1.3"
wsrep_sst_method=rsync
wsrep_node_address=NODEADDRESS
wsrep_node_name=NODENAME
wsrep_sst_auth=cluster:PASSWORD

binlog_format=row
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
bind-address=0.0.0.0

[embedded]
[mariadb]
[mariadb-10.1]
